body {
  background-color: black;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
  
}

.poster {
  width: 50%;
  margin: 100px auto; /* Centers the .poster div horizontally */
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

.motivation-img {
  display: block; /* Makes the image a block-level element */
  margin: 0 auto; /* Centers the image horizontally */
  border: 1px solid white;
  width: 50%; /* Adjust the image width as needed */
}
